html, body {
  background-color: #fff;
  width: 100%;
}

body.login {
  background-color: #fff;
}

th {
  font-weight: normal;
}

#header {
  display: flex;
  align-items: center;
}

#breadcrumb {
  padding: 15px 0;
}

.log-entry {
  padding: 5px 0;
}

.model-row {
  padding: 10px 0;
}

.model-action {
  padding: 0px 5px;
}

a:hover {
  text-decoration: none;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

.actions.form-inline {
  padding-top: 25px;
  padding-bottom: 10px;
}

.empty-form {
  display: none;
}

.form-row {
  padding: 8px 12px;
}

label {
  font-weight: normal;
}

label.required, th.required {
  font-weight: bold;
}

.clockbox, .calendarbox {
  padding: 10px;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.clockbox ul {
  list-style: square;
  padding-left: 15px;
}


.clockbox h2 {
  font-size: 23px;
}

.clockbox .calendar-cancel, .calendar .calendar-cancel {
  float: right;
}

.calendarnav-previous {
  float: left;
}

.calendarnav-next {
  float: right;
}

.calendarbox caption {
  text-align: center;
}

.calendarbox table th, .calendarbox table td {
  padding: 5px;
}

.calendar-shortcuts {
  padding: 5px 0;
}
.calendar-shortcuts a {
  padding: 0px 5px;
}

.login #container {
  max-width: initial;
}

.login .submit-row {
  text-align: center;
  padding-left: 0;
}

textarea.form-control {
  width: 100%;
}

.form-control {
  width: auto;
  display: inline;
}

@media screen and (max-width: 767px) {
  .dismiss {
    display: none !important;
  }
}

.datepicker, .timepicker {
  cursor: pointer;
}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 1px solid #CCCCCC; border-radius: 4px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #FFF; color: #555555;
}
.onoffswitch-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #FFF; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #CCCCCC; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

td>input.form-control {
  height: 30px;
}

.page-header {
  margin-top: 15px;
}
#mainmenu>.list-group>.list-group-item {
  padding: 15px 12px;
  padding-left: 30px;
}
#mainmenu>.panel, #mainmenu.sidebar {
  background-color: #fff;
}

#mainmenu .list-group-item {
  border: none;
  background-color: #fff;
}

#mainmenu a.list-group-item {
  color: #337ab7;
}
#mainmenu a.list-group-item:hover {
  color: #23527c;
}

.btn-default:focus {
  outline: 0;
  background-color: inherit;
  border-color: #ccc;
}

.bootstrap-tagsinput .label.tag {
  font-size: 95%;
}

.flex-login-center {
  max-width: 400px;

  min-height: 100%;
  min-height: calc(100vh - 90px); /* header + margin header + col padding */

  display: flex;
  align-items: center;
  justify-content: center;
}
