{% load admin_static %}
{% load i18n %}
{% load firstof from future %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href={% static "admin/vendor/bootstrap/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "admin/vendor/fonts/font-awesome.min.css" %} rel="stylesheet">

    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>

    {% block extrahead %}
      <script src={% static "admin/vendor/jquery.min.js" %}></script>
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

    {% block extrastyle %}
    {% endblock %}
    <link href={% static "admin/css/styles.css" %} rel="stylesheet">
  </head>

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div class="container-fluid" style="max-width:{% block container-width %}inherit{% endblock %};">
      {% if not is_popup %}
        <!-- Header -->
        <div id="header" class="row">
            <div id="branding" class="col-md-8 branding">
              {% block branding %}{% endblock %}
            </div>
            {% if user.is_active and user.is_staff %}
            <div id="user-tools" class="col-md-4">
              <div class="pull-right">
                {% block welcome-msg %}
                    {% trans 'Welcome,' %}
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                    {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                    {% endif %}
                    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}
              </div>
            </div>
            {% endif %}
            {% block nav-global %}{% endblock %}
        </div>
        <!-- END Header -->
      {% endif %}


      <!-- Content -->
      <div id="content" class="container" style="width:auto;max-width:1170px;">
        <div id="breadcrumb" class="row">
          <div class="col-md-12">
            {% if not is_popup %}
              {% block breadcrumbs %}
                <div class="breadcrumb">
                  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                  {% if title %} &rsaquo; {{ title }}{% endif %}
                </div>
              {% endblock %}
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {% block messages %}
              {% if messages %}
                {% for message in messages %}
                  <div{% if message.tags %} class="alert alert-{{ message.tags }} .alert-dismissible"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message|capfirst }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endblock messages %}
          </div>
        </div>

        <div class="row">
         <div class="col-md-{% block content-col %}8{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content %}
              {{ content }}
            {% endblock %}
          </div>

          <div class="col-md-4">
            {% block sidebar %}{% endblock %}
          </div>

        </div>
      </div>
      <!-- END Content -->

      {% block footer %}
        <script src={% static "admin/vendor/bootstrap/bootstrap.min.js" %}></script>
        <script src={% static "admin/js/custom_utils.js" %}></script>
        <script src={% static "admin/vendor/moment.js" %}></script>
        <script src={% static "admin/vendor/bootstrap/bootstrap-datetimepicker.min.js" %}></script>
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
        <script src={% static "admin/vendor/tinymce/tinymce.min.js" %}></script>
        <script src={% static "admin/vendor/bootstrap/bootstrap-fileinput.min.js" %}></script>
        <script src={% static "admin/vendor/bootstrap/bootstrap-tagsinput.js" %}></script>
      {% endblock %}
    </div>
    <!-- END Container -->

  </body>
</html>
