{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript">
    $(document).ready(function () {

      $("input[data-role='tagsinput']").tagsinput({
        confirmKeys: [13, 32, 44],
        tagClass: 'tag label label-default',
      });

      tinymce.init({
          selector: ".tinymce",
          plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
          ],
          toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
      });
    });
  </script>
  {{media}}
{% endblock %}

{% block extrastyle %}{{ block.super}}
  <link rel="stylesheet" type="text/css" href="{% static "admin/vendor/bootstrap/bootstrap-fileinput.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/vendor/bootstrap/bootstrap-tagsinput.css" %}"/>
  <link rel="stylesheet" type="text/css" href={% static "admin/vendor/bootstrap/bootstrap-datetimepicker.min.css" %} />
{% endblock %}

{% block content-col %}12{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
      &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
      &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
  {% endblock %}
{% endif %}

{% block content %}<div id="content-main">
  <div class="row">
  {% block content_title %}{% if title %}<h3 class="page-header" style="display: inline-block;">{{ title }}</h3>{% endif %}{% endblock %}
  {% if has_absolute_url %}<div class="pull-right"><a href="{{ absolute_url }}" class="btn btn-default"><i class="fa fa-eye"></i><span class="dismiss"> {% trans "View on site" %}</span></a></div>{% endif%}
</div>

  <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
    <div>
      {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
      {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
      {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
      {% if errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
        {{ adminform.form.non_field_errors }}
      {% endif %}


      {% block field_sets %}
        {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
      {% endblock %}

      {% block after_field_sets %}{% endblock %}

      {% block inline_field_sets %}
      {% for inline_admin_formset in inline_admin_formsets %}
          {% include inline_admin_formset.opts.template %}
      {% endfor %}
      {% endblock %}

      {% block after_related_objects %}{% endblock %}

      {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

      {% if adminform and add %}
        <script type="text/javascript">
          (function($) {
            $(document).ready(function() {
              $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus();
            });
          })(django.jQuery);
        </script>
      {% endif %}

      {# JavaScript for prepopulated fields #}
      {% prepopulated_fields_js %}

      <script type="text/javascript">
        $(function() {
          $(document).ready(function() {
            $('[data-toggle="popover"]').popover({html: true});
          });

          $('body').on('click', function (e) {
            if ($(e.target).data('toggle') !== 'popover' && $(e.target).parents('[data-toggle="popover"]').length === 0 && $(e.target).parents('.popover.in').length === 0)
            $('[data-toggle="popover"]').popover('hide');
          });
        });
      </script>

    </div>
  </form></div>
{% endblock %}
